

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  
  <p>
    <%= form.submit "Create Article", :data => {:disable_with => 'Please Wait...', :confirm => "Are you sure?"} %>
  </p>
  
  <%= form.select :lists, [["test1", 1], ["test2", 0]] %>
  <%= link_to 'Back', articles_path %>
<% end %>
